NEXT_PUBLIC_API_URL=http://192.168.2.46:8085
FRONTEND_HTTP_PORT=3005
BACKEND_HTTP_PORT=8085
AI_HTTP_PORT=5005
MYSQL_PORT=3306

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/lms?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=lms_user
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update
MYSQL_DATABASE=lms
MYSQL_USER=lms_user
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
AI_SERVER_URL=http://ai:5000
JWT_SECRET=dGVzdFNlY3JldEtleUZvckpXVEF1dGhlbnRpY2F0aW9uMTIzNDU2Nzg=

JENKINS_HTTP_PORT=8090
JENKINS_AGENT_PORT=50000

# n8n
N8N_HTTP_PORT=5678
BACKEND_N8N_TRIGGER_URL=http://n8n:5678/webhook/certificate
N8N_PUBLIC_WEBHOOK_BASE_URL=http://192.168.2.46:5678
N8N_ENCRYPTION_KEY=change-me-32-char-encryption-key

# 이수증 설정
CERTIFICATE_STORAGE_PATH=/app/certificates
CERTIFICATE_ISSUER_NAME=인사하는 인사팀
CERTIFICATE_TRIGGER_ENABLED=true
CERTIFICATE_INTERNAL_API_TOKEN=wZj7WjnHlgIEZc15Qgwjs6G7N6KaCT75yfVK5q-w8J3hf4qSxIChu5xW1rw7CZ1OnvkcsrjE79tnPT3QrX719w