# =========================
# Node / React / Next.js
# =========================
node_modules/
.next/
out/
dist/
npm-debug.log*

# =========================
# Spring Boot / Gradle
# =========================
.gradle/
.gradle-cache/
build/
*.class

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# =========================
# Python / Flask
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# Upload files
# =========================
uploads/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/

# =========================
# Logs
# =========================
logs/
*.log